ion-page {
  box-sizing: border-box;
}

ion-col {
  text-align: center;
}

.la-content-gradiente {
  background: linear-gradient(180deg, #b3d5ee 0%, #c5daea 100%);
  height: 100%;
}

.la-content-grid {
  height: 100%;
}

.la-grid-row1 {
  height: 30%;
}

.la-grid-row2 {
  height: 20%;
}

.la-grid-row3 {
  height: 50%;
}
