ion-page {
  box-sizing: border-box;
}

ion-col {
  text-align: center;
  /* color: rgba(19, 11, 89, 1); */
  color: #E20613;
  font-weight: bold;
}

.la-content-grid {
  height: 100%;
  width: 100%;
}

.la-imagen-row {
  height: 40%;
  /* background: rgba(0, 78, 133, 1);   */
  background: #E20613;  
  padding-top: 35px;
  padding-bottom: 10px;
}

/* For height 810px and larger: */
@media only screen and (min-height: 810px) {
  .la-imagen-row {
    height: 30%;
  }
}


.la-titulo-texto-row {
  height: 20%;
}

.la-menu-opciones-row {
  height: 40%;
}

.la-contenedor-texto {
  height: 100%;
  padding-left: 30px;
  padding-right: 15px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.la-titulo-row {
  text-align: left;

}

.la-texto-row {
  text-align: left;
}


.la-opciones-contenedor {
  width: 100%;
  height: 100%;
  /* background: rgba(197, 218, 234, 1); */
  background: #b1d385;
  border-radius: 20px 20px 0px 0px;
}

.la-grid-opciones {
  height: 100%;
  width: 100%;
}

.la-contendor-row {
  height: 50%;
  display: flex;
  align-items: center;
}

.la-contenedor-opcion { 
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}

.cuadro-amarillo{
  width: 65px;
  height: 65px;
  background: rgba(255, 220, 0, 0.65);
  border-radius: 5px;
}

.la-img-opcion {
  height: 55px;
}

.la-linea-roja-opcion {
  width: 40px;
  height: 1.5px;
  background: rgba(236, 8, 0, 1);
  border-radius: 0.75px;
}
