
.la-content-rectangulo-rojo {
  background: rgba(236, 8, 0, 1);
  border-radius: 1.15px;
  height: 2.25px;
  width: 56px;
  border-radius: 1.2px;
  position: relative;
  top: 20px;
}

.la-fuente-subtitulo {
  /* color: rgba(1, 95, 163, 1); */
  color:#284304;
  position: relative;
  font-weight: lighter;
  top: 70px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.la-rectangulo-azul {
  width: 115px;
  height: 115px;
  /* background: rgba(208, 228, 242, 1); */
  background: #a1ca6c;
  border-radius: 5px;
  position: relative;
  top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.la-logo {
  max-width: 110%;
}

.la-que-cayo-modal .modal-wrapper.sc-ion-modal-ios,
.modal-shadow.sc-ion-modal-ios {
  width: 80%;
  height: 50%;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.la-que-cayo-modal .modal-wrapper.sc-ion-modal-md,
.modal-shadow.sc-ion-modal-md {
  width: 80%;
  height: 50%;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}