
.la-row-avisame-texto{
    height: 30%;
}

.la-row-titulo-avisame{
    height: 10%;
}

.la-row-digitos-numero-avisame{
    height: 20%;
    align-items: center;
}

.la-row-botones-avisame{
    height: 20%;
    
}

.la-content-avisame-modal{
    height: 100%;
}