
.la-row-titulo-avisame{
    height: 15%;
}

.la-col-titulo-avisame{
    top: 20px;
}

.la-row-texto-avisame{
    height: 30%;
    align-items: center;
}

.la-row-dato-celular{
    height: 15%;
}

.la-row-dato-email{
    height: 15%;
}

.la-row-dato-edad{
  height: 15%;
}

.la-row-boton-enviar{
    height: 15%;
    position: relative;
    bottom: 30px;
}

.la-height-linea{
  top: -5px;
}


.la-linea-datos-avisame{
    width: 200px;
}

.la-texto-avisame{
    font-weight: lighter;
    /* color: rgba(1, 95, 163, 1); */
    color: #000000;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}



.la-avisame-verificacion-modal .modal-wrapper.sc-ion-modal-ios,
.modal-shadow.sc-ion-modal-ios {
  width: 80%;
  min-height: 45%;
  height: auto;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.la-avisame-verificacion-modal .modal-wrapper.sc-ion-modal-md,
.modal-shadow.sc-ion-modal-md {
  width: 80%;
  min-height: 45%;
  height: auto;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.la-avisame-si-gano-modal .modal-wrapper.sc-ion-modal-ios,
.modal-shadow.sc-ion-modal-ios {
  width: 80%;
  height: 80%;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.la-avisame-si-gano-modal .modal-wrapper.sc-ion-modal-md,
.modal-shadow.sc-ion-modal-md {
  width: 80%;
  height: 80%;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.la-notificacion-guardada-modal .modal-wrapper.sc-ion-modal-md,
.modal-shadow.sc-ion-modal-md {
  width: 50%;
  height: 25%;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.la-notificacion-guardada-modal .modal-wrapper.sc-ion-modal-ios,
.modal-shadow.sc-ion-modal-ios {
  width: 50%;
  height: 25%;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
