.la-fuente-14{
    font-size: 14px;
    text-align: left;
    align-items: center;
    justify-content: left;
    padding-left: 10px;
}

.la-fuente-right{
    font-size: 14px;
    text-align: right;
}

