.la-modal-notificacion-guardada {
    background: rgba(0, 78, 133, 1);
    height: 100%;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.la-mensaje-notificacion{
    
    color: rgba(235, 219, 82, 1);

}

.la-altura-row{
    height: 100%;
    align-items: center;
}