ion-content {
  background: linear-gradient(180deg, #b3d5ee 0%, #c5daea 100%);
}

:host {
  background: linear-gradient(180deg, #b3d5ee 0%, #c5daea 100%);
}

.elipse {
  height: 100px;
  width: 300px;
  border-radius: 50%;
  background: rgba(38, 139, 200, 1);
  justify-content: center;
  position: static;
}
.fuente-titulo {
  color: rgba(19, 11, 89, 1);
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 22px;
  position: relative;
  padding-top: 120px;
}

.fuente-texto {
  color: rgba(1, 95, 163, 1);
}

.div-texto{
  
}

.rectangulo-rojo {
  background: rgba(236, 8, 0, 1);
  border-radius: 1.15px;
  height: 2.25px;
  width: 56px;
  left: 675px;
  top: -160px;
  border-radius: 1.2px;
}


ion-header {
  height: 91px;
  background: rgba(38, 139, 200, 1);
}
