.la-avisame-modal-content {
    /* background: rgba(235, 219, 82, 1); */
    background:#9e1915;
    height: 130%;
    max-height: auto;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.la-linea-confirmacion-avisame{
  width: 100px;
}