.la-content-height{
  height: auto;
  min-height: 100%;
}

.la-titulo-ns-row {
  height: 15%;
}

.la-logo-loteria-seleccionada-row{
height: 30%;
}

.la-subtitulo-suertudos-row{
  height: 10%;
  align-items:center;
  color:#65b32e  ;
}

.la-items-ns-row {
  height: 10%;
  align-items: flex-end;
}


.la-lista-premios-ns-row {
  height: 35%;
}

.la-col-titulo-suertudos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.la-titulo-suertudos {
  position: relative;
  top: 40px;
}

.la-linea-roja-ns{
  position: relative;
  top: 50px;
}

.la-logo-loteria{
  margin-top: 60px;
  width: 50%;
}
