.la-modal-suertudos-content {
    background-color: rgba(235, 219, 82, 1);
    min-height: 140%;
    height: auto;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.la-titulo-modal-suertudos{
    position: relative;
    top: 20px;
    padding: 20px;
}

.item-native::after{
    background-color: rgba(235, 219, 82, 1);
}