ion-col {
  text-align: center;
  display: flex;
  justify-content: center;
}

ion-modal {
  background: rgba(28, 28, 28, 0.6);
}

.la-linea-roja {
  width: 35px;
  height: 1.5px;
  background-color: #ec0800;
}

.la-num-sorteo {
  font-weight: bold;
  font-size: 22px;
  color: #004e85;
}

.la-texto {
  margin-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

.la-boton-consultar {
  position: relative;
  top: 20px;
}

.la-que-cayo-modal-content {
  background: rgba(235, 219, 82, 1);
  height: 100%;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}