.la-num-suertudos-modal .modal-wrapper.sc-ion-modal-ios,
.modal-shadow.sc-ion-modal-ios {
  width: 80%;
  height: 80%;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.la-num-suertudos-modal .modal-wrapper.sc-ion-modal-md,
.modal-shadow.sc-ion-modal-md {
  width: 80%;
  height: 80%;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
