ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color,rgba(1, 95, 163, 1)));
}

/* 
ion-menu.md ion-content {
   background-color: rgba(1, 95, 163, 1);
}

ion-menu.md ion-list {
  background-color: rgba(1, 95, 163, 1); 
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header, ion-menu.md ion-note {
  padding-left: 10px;
}

ion-menu.md ion-list#inbox-list{
  border-bottom: 1px solid var(--ion-color-step-150, rgba(166, 199, 223, 1));
}

ion-menu.md ion-list#inbox-list ion-list-header{
  font-weight: bold;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;
  margin-bottom: 18px;
  color: #757575;
  min-height: 26px;
}

ion-menu.md ion-item {
  background-color: rgba(1, 95, 163, 1);
  color: rgba(166, 199, 223, 1);
  
}

ion-menu.md ion-item.selected {
  background-color: rgba(1, 95, 163, 1); 
  color: rgba(235, 219, 82, 1);
}

ion-menu.md ion-item ion-icon {
  color: rgba(166, 199, 223, 1);
}

ion-menu.md ion-item.selected ion-icon {
  color: rgba(235, 219, 82, 1); 
}


ion-menu.md ion-item ion-label {
  color: rgba(166, 199, 223, 1);
  font-weight: bold;
}

ion-menu.md ion-item.selected ion-label {
  color: rgba(235, 219, 82, 1);
  font-weight: bold;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
  background-color: rgba(1, 95, 163, 1);
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
  background-color: rgba(1, 95, 163, 1);
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  background-color: rgba(1, 95, 163, 1);
}

ion-menu.ios ion-item ion-icon {
  color: rgba(166, 199, 223, 1)
}

ion-menu.ios ion-item .selected ion-icon {
  color:rgba(235, 219, 82, 1)
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;
  color: var(--ion-color-medium-shade);
} */

ion-item.selected {
  color: rgba(235, 219, 82, 1);
  font-weight: bold;
}

ion-item{
  color: rgba(166, 199, 223, 1);
  font-weight: bold;  
} 

ion-menu ion-content{
  background-color: rgba(1, 95, 163, 1);
}

.gradiente{
  background: linear-gradient(180deg, #268BC8 0%, #8DC2E2 96.62%);
  width: 100%;
  height: 148px;  
}

.list-md {  
  padding: 0px;
}

.menu-header{
  padding-inline-start: 0px;
}

