.la-content-height{
  height: auto;
  min-height: 100%;
}

.la-titulo-que-cayo-row {
  height: 25%;
}

.la-billete-row {
  margin-top: 10px;
  height: 35%;
}

.la-lista-sorteo-row {
  margin-top: 15px;
  height: 30%;
  text-align: left;
}

.la-col-num-sorteo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.la-col-titulo-que-cayo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.la-titulo-que-cayo {
  position: relative;
  top: 30px;
}

.la-linea-roja-que-cayo{
  position: relative;
  top: 35px;
}

.la-balota-blanca {
  width: 48px;
  height: 48px;
  background-color: rgba(255, 255, 255, 1);
  border: 2px solid rgba(19, 11, 89, 1);
  border-radius: 50%;
}

.la-balota-roja {
  width: 36px;
  height: 36px;
  background-color: rgba(236, 8, 0, 1);
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.la-fuente-billete-22 {
  padding-top: 10px;
  color: rgba(1, 95, 163, 1);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.la-titulo-num-sorteo {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #015fa3;
}

.la-num-sorteo {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ec0800;
  
}

.la-info-sorteo {
  position: relative;
  top: -5px;
}

.la-logo-ltr {
  width: 60%;
}

.la-cifra-sorteo {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  color: rgba(0, 106, 181, 1);
}

.la-serie-sorteo {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}

.la-billete-amarillo{
  position: relative;
  top: 35px;
  background-image: url('../../../assets/imagenes/LoteriApp-billete-completo.png');
  background-repeat: no-repeat ;
  background-size: cover;
  background-position: center;
}