ion-col {
  text-align: center;
  display: flex;
  justify-content: center;
}

ion-modal {
  background: rgba(28, 28, 28, 0.6);
}

.la-texto {
  margin-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

.la-boton-consultar {
  position: relative;
  top: 20px;
  width: 100px;
  height: 40px;
}

.la-que-cayo-modal-content {
  background: rgba(235, 219, 82, 1);
  /* tolima */
  /* background: #9e1915; */
  height: 115%;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}





