ion-page {
  box-sizing: border-box;
}

.la-content-gradiente-light {
  /* loteriapp */
  /* background: rgba(214, 229, 240, 1); */
  /* tolima */
  /* background: #fef9e9; */
  /* valle */
  background: white;
  height: 100%;
}

.la-content-gradiente-darker {
  /* loteriapp */
  /* background: linear-gradient(180deg, #b3d5ee 0%, #c5daea 100%); */
  /* tolima */
  /* background: #f5e8e8; */
  /* valle */
  background: white;
  height: 100%;
}

.la-content-grid {
  height: 100%;
  width: 100%;
}

.la-titulo-18 {
  /* loteriapp */
  /* color: rgba(19, 11, 89, 1); */
  /* tolima */
  /* color:#E20613; */
  /* valle */
  color: #65b32e  ;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 18px;
  margin-top: 17px;
  margin-bottom: 10px;
}


.la-col-titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 40px
}

.la-titulo-22 {
  /* loteriapp */
  /* color: rgba(19, 11, 89, 1); */
  /* tolima */
  /* color: #E20613; */
  /* valle */
  color: #65b32e;
  font-weight: bold;
  font-size: 22px;
  display: flex;
}

.la-texto-blue-14 {
  /* color: rgba(1, 95, 163, 1); */
  /* tolima */
  /* color: #000000; */
  /* valle */
  color: #335a17 ;
  position: relative;
  font-weight: lighter;
  font-size: 14px;
}

.la-titulo-16 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  /* loteriapp */
  /* color: rgba(19, 11, 89, 1); */
  /* tolima */
  /* color: #F4C325; */
  /* valle */
  color: #313b2a;
}

.la-texto-darkblue-12 {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  /* loteriapp */
  /* color: rgba(19, 11, 89, 1); */
  /* tolima */
  /* color: #ffffff; */
  /* valle */
  color: #313b2a;
}

.la-boton {
  /* loteriapp */
  /* background: #004e85; */
  /* tolima */
  /* background: #F4C325; */
  /* valle */
  background: #65b32e;
  border-radius: 5px;
  color:white;
  font-size: 12px;
  font-weight: bold;
  height: 40px;
  line-height: 15px;
  
}

.la-boton-cerrar {
  font-family: Rounded Mplus 1c;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 16px;
  color: rgba(94, 59, 11, 1);
  /* tolima */
  /* color: #F4C325; */
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
}

.la-division-premios {
  list-style-type: none;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  /* tolima */
  /* border-top: 1px solid #9e1915; */
  padding-top: 7px;
  padding-bottom: 7px;
}

.la-premio-fuente {
  font-style: normal;
  font-weight: normal;
  font-size: 14.5px;
  line-height: 16px;
  /* loteriapp */
  /* color: rgba(1, 95, 163, 1); */
  /* tolima */
  /* color: #000000; */
  /* valle */
  color: #335a17  ;
  text-align: left;
  align-items: center;
}

.la-linea-roja-digito {
  width: 30px;
  height: 1.5px;
  background-color: rgba(236, 8, 0, 1);
  /* tolima */
  /* background-color: #F4C325; */
}

.la-input-digito{
  padding: 0px;
  color: rgb(0, 78, 133);
  /* tolima */
  /* color: #ffffff; */
  font-weight: bold;
  font-size: 22px;
  background-color: transparent;
  border-color: transparent;
  border-width: 0px;
  text-align: center;
  width: 25px;  
}

.native-input.sc-ion-input-ios {
  padding: 0px;
  color: rgba(0, 78, 133, 1);
  /* tolima */
  /* color: #ffffff; */

  font-weight: bold;
  font-size: 22px;
}

.native-input.sc-ion-input-md {
  padding: 0px;
  color: rgba(0, 78, 133, 1);
  /* tolima */
  /* color: #F4C325; */
  font-weight: bold;
  font-size: 22px;
}
